<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>

    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body class="text-center">
    <div class="text-center" id="root">
    </div>
    <script src="~/js/main.js"></script>
</body>
</html>
